<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>admin</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/zui.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/theme/zui-theme-green.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">

    <script type="text/javascript" src="__LIB__/jquery/jquery.js"></script>
    <script type="text/javascript" src="__JS__/zui.js"></script>
    <script type="text/javascript" src="__JS__/admin.js"></script>
</head>